@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
:root {
    --body-background: rgb(240, 240, 240);
    --header-color: rgb(92, 27, 119);
    --numbers-background: rgb(67, 49, 74);
    --labels-background: rgb(45, 37, 46);
    --darkmode-background: rgb(50, 50, 50);
    --darkmode-color: rgb(163, 34, 218);
    --shadow-color: rgba(0, 0, 0, .5);
}

.darkMode {
    --body-background: rgb(45, 45, 45);
    --body-color: rgb(240, 240, 240);
    --header-color: rgb(153, 46, 200);
    --numbers-background: rgb(79, 53, 89);
    --labels-background: rgb(59, 46, 61);
    --darkmode-background: rgb(220, 220, 220);
    --darkmode-color: rgb(92, 27, 119);
    --shadow-color: rgba(129, 58, 165, .4);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Almarai", sans-serif;
    flex-direction: column;
    background-color: var(--body-background);
    color: var(--body-color);
    text-align: center;
}

label {
    font-size: 18px;
    margin-right: 10px;
    font-weight: 700;
}

#datesMenu {
    font-size: 16px;
    margin: 30px 0 15px 0;
    outline: none;
    padding: 4px;
}

h2 {
    color: var(--header-color);
    margin-bottom: 5px;
    font-size: 25px;
}

p {
    font-weight: 525;
}

#timer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
    gap: 10px;
    text-align: center;
}

.number {
    font-size: 5em;
    background-color: var(--numbers-background);
    color: white;
    font-family: "Almarai", sans-serif;
    border-radius: 8px;
    padding: 30px 5px;
    font-weight: bold;
    box-shadow: 3px 3px 8px var(--shadow-color);
}

.labels {
    background-color: var(--labels-background);
    color: white;
    padding: 5px 0;
    margin-top: 5px;
    border-radius: 2px;
}

.copyright a{
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 12px;
    color: rgb(89, 88, 88);
    text-decoration: none;
    font-weight: 500;
}

#darkModeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: var(--darkmode-background);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

#darkModeBtn i {
    color: var(--darkmode-color);
}

#darkModeBtn i:last-child {
    display: none;
}

.darkMode #darkModeBtn i:first-child {
    display: none;
}

.darkMode #darkModeBtn i:last-child {
    display: block;
    color: var(--darkmode-color);
}

@media (max-width: 450px) {
    .number {
        font-size: 4.5em;
    }

    #darkModeBtn {
        position: absolute;
        top: auto;
        bottom: 20px;
        right: 20px;
    }
}

@media (max-width: 400px) {
    .number {
        font-size: 4em;
        padding: 26px 5px;
    }
    
    #timer {
        gap: 8px;
    }
}

@media (max-width: 370px) {
    h2 {
        font-size: 23px;
    }

    p {
        font-size: 15px;
    }

    #timer {
        margin-top: 30px;
    }
    
    .number {
        font-size: 3.6em;
        padding: 26px 5px;
    }
}

@media (max-width: 335px) {
    .number {
        font-size: 3.4em;
    }
}

@media(max-width: 310px) {
    h2 {
        font-size: 22px;
    }

    p {
        font-size: 13px;
    }
    .number {
        font-size: 3.2em;
    }
}